.h1{
    text-align: center;
    background-color:#333;
    color:white;
}
#post{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-gap: 30px;
}
.post{
    color:bisque;
    padding: 10px;
    border-radius: 2px;
    background-color:#333;
}